In [47]:
# Import necessary libraries

import pandas as pd
import ast
import string
import pickle

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
# Import csv files

movies = pd.read_csv('Movies 10k.csv')
credit = pd.read_csv('Credit 10k.csv')
keywords = pd.read_csv('keywords.csv')
image = pd.read_csv('image_url.csv')

In [49]:
movies.shape,credit.shape, keywords.shape, image.shape

((10000, 14), (10000, 3), (10000, 2), (9180, 2))

In [39]:
movies.head(2)

,adult,backdrop_path,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,genre
0,False,/cVh8Af7a9JMOJl75ML3Dg2QVEuq.jpg,762509,en,Mufasa: The Lion King,"Mufasa, a cub lost and alone, meets a sympathe...",3353.171,/9bXHaLlsFYpJUutg4E6WXAjaxDi.jpg,2024-12-18,Mufasa: The Lion King,False,7.462,1178,"['Adventure', 'Family', 'Animation']"
1,False,/zo8CIjJ2nfNOevqNajwMRO6Hwka.jpg,1241982,en,Moana 2,After receiving an unexpected call from her wa...,2296.395,/aLVkiINlIeCkcZIzb7XHzPYgO6L.jpg,2024-11-21,Moana 2,False,7.200,1605,"['Animation', 'Adventure', 'Family', 'Comedy']"

In [50]:
movies= movies[['id','title','overview','genre']]

In [70]:
movies.shape

(8472, 4)

In [64]:
movies.duplicated().sum()
movies.drop_duplicates(inplace = True)

In [72]:
# merge all the csv files into one dataframe
df = movies.merge(credit, on = 'id')
df = df.merge(keywords, on = 'id')
df = df.merge(image, on = 'id')

In [73]:
df.shape

(18002, 8)

In [74]:
df.head(2)

,id,title,overview,genre,cast,crew,keywords,image_url
0,762509,Mufasa: The Lion King,"Mufasa, a cub lost and alone, meets a sympathe...","['Adventure', 'Family', 'Animation']","[{'adult': False, 'gender': 2, 'id': 1763709, ...","[{'adult': False, 'gender': 2, 'id': 42265, 'k...","[{'id': 6054, 'name': 'friendship'}, {'id': 43...",http://image.tmdb.org/t/p/w500/9bXHaLlsFYpJUut...
1,1241982,Moana 2,After receiving an unexpected call from her wa...,"['Animation', 'Adventure', 'Family', 'Comedy']","[{'adult': False, 'gender': 1, 'id': 1564846, ...","[{'adult': False, 'gender': 2, 'id': 4524084, ...","[{'id': 658, 'name': 'sea'}, {'id': 270, 'name...",http://image.tmdb.org/t/p/w500/aLVkiINlIeCkcZI...

In [75]:
# check for null values and then dropping rows with null values
print(df.isnull().sum())
df.dropna(inplace = True)
print('\n')
# drop duplicate data while keeping the only original data
print(df.duplicated().sum())
df.drop_duplicates(inplace = True, keep = 'first')

id            0
title         0
overview     16
genre         0
cast          0
crew          0
keywords      0
image_url     0
dtype: int64


10206

In [76]:
df.shape

(7780, 8)

In [77]:
df.head(2)

,id,title,overview,genre,cast,crew,keywords,image_url
0,762509,Mufasa: The Lion King,"Mufasa, a cub lost and alone, meets a sympathe...","['Adventure', 'Family', 'Animation']","[{'adult': False, 'gender': 2, 'id': 1763709, ...","[{'adult': False, 'gender': 2, 'id': 42265, 'k...","[{'id': 6054, 'name': 'friendship'}, {'id': 43...",http://image.tmdb.org/t/p/w500/9bXHaLlsFYpJUut...
1,1241982,Moana 2,After receiving an unexpected call from her wa...,"['Animation', 'Adventure', 'Family', 'Comedy']","[{'adult': False, 'gender': 1, 'id': 1564846, ...","[{'adult': False, 'gender': 2, 'id': 4524084, ...","[{'id': 658, 'name': 'sea'}, {'id': 270, 'name...",http://image.tmdb.org/t/p/w500/aLVkiINlIeCkcZI...

In [78]:
type(df['genre'].iloc[0])

str

In [79]:
# since df['genre'] has data as str so to evaluate them we use ast.literal_eval
import ast
df['genre'] = df['genre'].apply(ast.literal_eval)

In [80]:
df['cast'].iloc[0]

"[{'adult': False, 'gender': 2, 'id': 1763709, 'known_for_department': 'Acting', 'name': 'Aaron Pierre', 'original_name': 'Aaron Pierre', 'popularity': 61.94, 'profile_path': '/hNwZWdT2KxKj1YLbipvtUhNjfAp.jpg', 'cast_id': 73, 'character': 'Mufasa (voice)', 'credit_id': '6784ce60bd793c03544ec5ff', 'order': 0}, {'adult': False, 'gender': 2, 'id': 1344361, 'known_for_department': 'Acting', 'name': 'Kelvin Harrison Jr.', 'original_name': 'Kelvin Harrison Jr.', 'popularity': 14.917, 'profile_path': '/6kpDyaZzmSbqCNYuXZUfeMwS1bq.jpg', 'cast_id': 13, 'character': 'Taka (voice)', 'credit_id': '61290ee48d1b8e00274ef40e', 'order': 1}, {'adult': False, 'gender': 1, 'id': 1074676, 'known_for_department': 'Acting', 'name': 'Tiffany Boone', 'original_name': 'Tiffany Boone', 'popularity': 3.738, 'profile_path': '/9LwqRFdSzxVtnutDUg98YLq0bSz.jpg', 'cast_id': 33, 'character': 'Sarabi (voice)', 'credit_id': '662fc6c9072166012a6a405f', 'order': 2}, {'adult': False, 'gender': 2, 'id': 107529, 'known_for_department': 'Acting', 'name': 'Kagiso Lediga', 'original_name': 'Kagiso Lediga', 'popularity': 5.818, 'profile_path': '/nfqx3CqFVsAMelk6ry560SuN7Y0.jpg', 'cast_id': 34, 'character': 'Young Rafiki (voice)', 'credit_id': '662fc70151c01f012a59e903', 'order': 3}, {'adult': False, 'gender': 2, 'id': 1251835, 'known_for_department': 'Acting', 'name': 'Preston Nyman', 'original_name': 'Preston Nyman', 'popularity': 9.391, 'profile_path': '/eidKvLDCRw68tG3CN6fGhvHUnW.jpg', 'cast_id': 35, 'character': 'Zazu (voice)', 'credit_id': '662fc717c3aa3f0129fdf9e4', 'order': 4}, {'adult': False, 'gender': 1, 'id': 1680929, 'known_for_department': 'Acting', 'name': 'Blue Ivy Carter', 'original_name': 'Blue Ivy Carter', 'popularity': 6.758, 'profile_path': '/mnaFedkdW9TFCkky7fiiT5dfXye.jpg', 'cast_id': 17, 'character': 'Kiara (voice)', 'credit_id': '662f966f07216601276a24cd', 'order': 5}, {'adult': False, 'gender': 2, 'id': 51878, 'known_for_department': 'Acting', 'name': 'John Kani', 'original_name': 'John Kani', 'popularity': 11.122, 'profile_path': '/g7tqg3q128a5O2qXMCwVnXsow9I.jpg', 'cast_id': 19, 'character': 'Rafiki (voice)', 'credit_id': '662f97201f0275012c14d656', 'order': 6}, {'adult': False, 'gender': 2, 'id': 1019, 'known_for_department': 'Acting', 'name': 'Mads Mikkelsen', 'original_name': 'Mads Mikkelsen', 'popularity': 42.935, 'profile_path': '/ntwPvV4GKGGHO3I7LcHMwhXfsw9.jpg', 'cast_id': 18, 'character': 'Kiros (voice)', 'credit_id': '662f96797d5db501233ea048', 'order': 7}, {'adult': False, 'gender': 2, 'id': 19274, 'known_for_department': 'Acting', 'name': 'Seth Rogen', 'original_name': 'Seth Rogen', 'popularity': 16.453, 'profile_path': '/2dPFskUtoiG0xafsSEGl9Oz4teA.jpg', 'cast_id': 16, 'character': 'Pumbaa (voice)', 'credit_id': '631bcd2539549a007b72db26', 'order': 8}, {'adult': False, 'gender': 2, 'id': 973651, 'known_for_department': 'Acting', 'name': 'Billy Eichner', 'original_name': 'Billy Eichner', 'popularity': 8.533, 'profile_path': '/kScO4moqNlDbyCTZuIoBqyaml4l.jpg', 'cast_id': 15, 'character': 'Timon (voice)', 'credit_id': '631bcd1ed399e60084857855', 'order': 9}, {'adult': False, 'gender': 1, 'id': 9030, 'known_for_department': 'Acting', 'name': 'Thandiwe Newton', 'original_name': 'Thandiwe Newton', 'popularity': 17.592, 'profile_path': '/hZQLvxj7nV7pBrRyWTvWVz1CDi8.jpg', 'cast_id': 21, 'character': 'Eshe (voice)', 'credit_id': '662f97315a78840124c22356', 'order': 10}, {'adult': False, 'gender': 2, 'id': 1120, 'known_for_department': 'Acting', 'name': 'Lennie James', 'original_name': 'Lennie James', 'popularity': 9.15, 'profile_path': '/hfZrdEkBHxYYbMoGHAaVomlgMi.jpg', 'cast_id': 36, 'character': 'Obasi (voice)', 'credit_id': '662fc737511d090124c59620', 'order': 11}, {'adult': False, 'gender': 1, 'id': 15563, 'known_for_department': 'Acting', 'name': 'Anika Noni Rose', 'original_name': 'Anika Noni Rose', 'popularity': 6.496, 'profile_path': '/pzzgiBk8v50FN3kbJJUmQiRPrEO.jpg', 'cast_id': 31, 'character': 'Afia (voice)', 'credit_id': '662fc66da806730128e97a97', 'order': 12}, {'adult': False, 'gender': 2, 'id': 65827, 'known_for_department': 'Acting', 'name': 'Keith David', 'original_name': 'Keith David', 'popularity': 17.169, 'profile_path': '/jJLJuR7FNHYL1fB5igjj7IXzOel.jpg', 'cast_id': 32, 'character': 'Masego (voice)', 'credit_id': '662fc694072166012a6a404c', 'order': 13}, {'adult': False, 'gender': 2, 'id': 3023201, 'known_for_department': 'Acting', 'name': 'Braelyn Rankins', 'original_name': 'Braelyn Rankins', 'popularity': 2.125, 'profile_path': '/iiu6HOfpieGzk2gXd5JfUtKnNrH.jpg', 'cast_id': 50, 'character': 'Mufasa Cub (voice)', 'credit_id': '673ff51c32a9aaf43d9675c3', 'order': 14}, {'adult': False, 'gender': 2, 'id': 4683002, 'known_for_department': 'Acting', 'name': 'Theo Somolu', 'original_name': 'Theo Somolu', 'popularity': 0.001, 'profile_path': '/gKAER6rgRfm2qmr6Rj7DDWDAEtn.jpg', 'cast_id': 51, 'character': 'Taka Cub (voice)', 'credit_id': '673ff52e8b4e4c2ef6f77b47', 'order': 15}, {'adult': False, 'gender': 2, 'id': 119589, 'known_for_department': 'Acting', 'name': 'Donald Glover', 'original_name': 'Donald Glover', 'popularity': 9.605, 'profile_path': '/9uS8bu5Jwnc5R3CKDNZ14EzIUs2.jpg', 'cast_id': 20, 'character': 'Simba (voice)', 'credit_id': '662f972b1f0275012414cf68', 'order': 16}, {'adult': False, 'gender': 1, 'id': 14386, 'known_for_department': 'Acting', 'name': 'Beyoncé', 'original_name': 'Beyoncé', 'popularity': 16.198, 'profile_path': '/9MgDCYBBVBl4lM1DuxNIIbCHlKy.jpg', 'cast_id': 22, 'character': 'Nala (voice)', 'credit_id': '662f9769a199a6012b72eea2', 'order': 17}, {'adult': False, 'gender': 1, 'id': 1454313, 'known_for_department': 'Acting', 'name': 'Folake Olowofoyeku', 'original_name': 'Folake Olowofoyeku', 'popularity': 4.832, 'profile_path': '/9wKHnDBZuzRbZ6O5is2C1DfBHQG.jpg', 'cast_id': 52, 'character': 'Amara (voice)', 'credit_id': '673ff544dae2e6a9382551b2', 'order': 18}, {'adult': False, 'gender': 1, 'id': 3071892, 'known_for_department': 'Acting', 'name': 'Joanna Jones', 'original_name': 'Joanna Jones', 'popularity': 0.577, 'profile_path': '/cUACIEiutsjUL1ztAP0zqxmEB1B.jpg', 'cast_id': 53, 'character': 'Akua (voice)', 'credit_id': '673ff555dd53fa0060331c57', 'order': 19}, {'adult': False, 'gender': 1, 'id': 2286339, 'known_for_department': 'Acting', 'name': 'Thuso Mbedu', 'original_name': 'Thuso Mbedu', 'popularity': 4.665, 'profile_path': '/pAStLwNMw8Seb0BM4uqrdOvtjK1.jpg', 'cast_id': 54, 'character': 'Junia (voice)', 'credit_id': '673ff566d7bee5585c559cbb', 'order': 20}, {'adult': False, 'gender': 1, 'id': 1851642, 'known_for_department': 'Acting', 'name': 'Sheila Atim', 'original_name': 'Sheila Atim', 'popularity': 3.222, 'profile_path': '/esAjvG2IXvzQODNEHVCVsc4WALI.jpg', 'cast_id': 55, 'character': 'Ajarry (voice)', 'credit_id': '673ff5761cd8c243e6be5d6f', 'order': 21}, {'adult': False, 'gender': 2, 'id': 58431, 'known_for_department': 'Acting', 'name': 'Abdul Salis', 'original_name': 'Abdul Salis', 'popularity': 2.765, 'profile_path': '/2gDH3kNzUr4IUZLbCiYR9OCTjGa.jpg', 'cast_id': 56, 'character': 'Chigaru (voice)', 'credit_id': '673ff584f0f2ed8f9851c61e', 'order': 22}, {'adult': False, 'gender': 1, 'id': 95200, 'known_for_department': 'Acting', 'name': 'Dominique Jennings', 'original_name': 'Dominique Jennings', 'popularity': 1.805, 'profile_path': '/gQvFevYR8dyH0TTOnOAV8tOMSEO.jpg', 'cast_id': 57, 'character': 'Sarafi (voice)', 'credit_id': '673ff593d7bee5585c559cd6', 'order': 23}, {'adult': False, 'gender': 2, 'id': 1862430, 'known_for_department': 'Acting', 'name': 'Derrick L. McMillon', 'original_name': 'Derrick L. McMillon', 'popularity': 0.564, 'profile_path': '/xYp02xs3ynwg86NkDQebXN3npSG.jpg', 'cast_id': 58, 'character': 'Mosi (voice)', 'credit_id': '6755ca8e2378497675756fd9', 'order': 24}, {'adult': False, 'gender': 2, 'id': 1224603, 'known_for_department': 'Acting', 'name': 'Maestro Harrell', 'original_name': 'Maestro Harrell', 'popularity': 3.651, 'profile_path': '/7cD4uixyLp8vq5MD0SB7dqLHtAs.jpg', 'cast_id': 59, 'character': 'Inaki (voice)', 'credit_id': '6755ca9d0564b1ea9b6eceb5', 'order': 25}, {'adult': False, 'gender': 2, 'id': 4209979, 'known_for_department': 'Acting', 'name': 'AJ Beckles', 'original_name': 'AJ Beckles', 'popularity': 4.593, 'profile_path': '/gSFgVJnm71MffjyAOk4MyYVc8Yy.jpg', 'cast_id': 60, 'character': 'Azibo (voice)', 'credit_id': '6755caaf6f37f6e89adc5d2d', 'order': 26}, {'adult': False, 'gender': 2, 'id': 71078, 'known_for_department': 'Acting', 'name': 'David S. Lee', 'original_name': 'David S. Lee', 'popularity': 9.205, 'profile_path': '/Je5btH3d4hREmOH7sHusD0J7ky.jpg', 'cast_id': 61, 'character': 'Mobo (voice)', 'credit_id': '6755cabd2378497675756ff2', 'order': 27}, {'adult': False, 'gender': 1, 'id': 3661561, 'known_for_department': 'Acting', 'name': 'Brielle Rankins', 'original_name': 'Brielle Rankins', 'popularity': 0.001, 'profile_path': '/hcsmnAnnKJkVKETEQdkV52d30HY.jpg', 'cast_id': 62, 'character': 'Mufasa Cub additional lines (voice)', 'credit_id': '6755cae066c89f44182bfe17', 'order': 28}, {'adult': False, 'gender': 2, 'id': 15152, 'known_for_department': 'Acting', 'name': 'James Earl Jones', 'original_name': 'James Earl Jones', 'popularity': 25.118, 'profile_path': '/oqMPIsXrl9SZkRfIKN08eFROmH6.jpg', 'cast_id': 74, 'character': 'Mufasa (Archive Voice)', 'credit_id': '6786deb0bd3955b2467afc71', 'order': 29}]"

In [81]:
# extract top 5 Actors/Actress from the movie
def cast_name(obj):
    name = []
    count = 0
    for i in ast.literal_eval(obj):
        name.append(i['name'])
        count +=1
        if count ==5:
            break
    return name

df['cast'] = df['cast'].apply(cast_name)

In [82]:
df['crew'].iloc[0]

"[{'adult': False, 'gender': 2, 'id': 42265, 'known_for_department': 'Production', 'name': 'Peter M. Tobyansen', 'original_name': 'Peter M. Tobyansen', 'popularity': 2.439, 'profile_path': None, 'credit_id': '605670771bf266002887f1e9', 'department': 'Production', 'job': 'Executive Producer'}, {'adult': False, 'gender': 1, 'id': 1681304, 'known_for_department': 'Editing', 'name': 'Joi McMillon', 'original_name': 'Joi McMillon', 'popularity': 0.119, 'profile_path': '/wdg9gRjHUQlBoyXILnQvfEOjl7b.jpg', 'credit_id': '605670a46f6a99003f35c9ee', 'department': 'Editing', 'job': 'Editor'}, {'adult': False, 'gender': 2, 'id': 5670, 'known_for_department': 'Art', 'name': 'Mark Friedberg', 'original_name': 'Mark Friedberg', 'popularity': 3.362, 'profile_path': '/3vs2xBKrXlXmkZEHBdhb0R5eeSJ.jpg', 'credit_id': '626847db924ce600504c771c', 'department': 'Art', 'job': 'Production Design'}, {'adult': False, 'gender': 2, 'id': 1179651, 'known_for_department': 'Acting', 'name': 'Lin-Manuel Miranda', 'original_name': 'Lin-Manuel Miranda', 'popularity': 8.855, 'profile_path': '/r0wFwPa041pZ1QM66yJWuQXCkqx.jpg', 'credit_id': '662f97cb0792e101267b36b7', 'department': 'Sound', 'job': 'Songs'}, {'adult': False, 'gender': 2, 'id': 2689, 'known_for_department': 'Writing', 'name': 'Jeff Nathanson', 'original_name': 'Jeff Nathanson', 'popularity': 7.255, 'profile_path': '/38g0OMsqGcGppAGM6BIep7ZbdPc.jpg', 'credit_id': '662f9a587d5db501263e979f', 'department': 'Writing', 'job': 'Screenplay'}, {'adult': False, 'gender': 2, 'id': 3247563, 'known_for_department': 'Acting', 'name': 'Lebo M.', 'original_name': 'Lebo M.', 'popularity': 0.088, 'profile_path': '/iqsXzHBbu2fsxgkk4VR0DGaiDAR.jpg', 'credit_id': '662fe24966751d0127841bab', 'department': 'Crew', 'job': 'Additional Music'}, {'adult': False, 'gender': 1, 'id': 85960, 'known_for_department': 'Sound', 'name': 'Paula Fairfield', 'original_name': 'Paula Fairfield', 'popularity': 1.035, 'profile_path': '/rKXrhz7Pg21YPNhzng241FTtb6e.jpg', 'credit_id': '662ff2f3713ea6012b695ba5', 'department': 'Sound', 'job': 'Sound Designer'}, {'adult': False, 'gender': 2, 'id': 92784, 'known_for_department': 'Directing', 'name': 'Barry Jenkins', 'original_name': 'Barry Jenkins', 'popularity': 6.808, 'profile_path': '/6nld5eQwiJmuLmyesk4EUeCaoo3.jpg', 'credit_id': '5fa9c38b1b7294003b96e62b', 'department': 'Directing', 'job': 'Director'}, {'adult': False, 'gender': 0, 'id': 2411897, 'known_for_department': 'Production', 'name': 'Mark Ceryak', 'original_name': 'Mark Ceryak', 'popularity': 0.784, 'profile_path': '/3XuRWog48q0e9mcXlOzq0HgxIDs.jpg', 'credit_id': '5fa9c40f519bbb003f55d749', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 1, 'id': 969845, 'known_for_department': 'Production', 'name': 'Adele Romanski', 'original_name': 'Adele Romanski', 'popularity': 0.534, 'profile_path': '/7albgSdV3st5kof9W1gbDtP2xBn.jpg', 'credit_id': '5fa9c41b211ce5003b87ba9a', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 2, 'id': 960350, 'known_for_department': 'Camera', 'name': 'James Laxton', 'original_name': 'James Laxton', 'popularity': 0.778, 'profile_path': '/wD83C5pD7eHdfULlS6pFlWnRs4O.jpg', 'credit_id': '5fd91e1c3344c6003db09e35', 'department': 'Camera', 'job': 'Director of Photography'}, {'adult': False, 'gender': 2, 'id': 15152, 'known_for_department': 'Acting', 'name': 'James Earl Jones', 'original_name': 'James Earl Jones', 'popularity': 25.118, 'profile_path': '/oqMPIsXrl9SZkRfIKN08eFROmH6.jpg', 'credit_id': '66f32d4d04dc8229f6cee06d', 'department': 'Crew', 'job': 'In Memory Of'}, {'adult': False, 'gender': 2, 'id': 61974, 'known_for_department': 'Sound', 'name': 'Dave Metzger', 'original_name': 'Dave Metzger', 'popularity': 1.137, 'profile_path': '/gfjnhloiQUilQNElVc39F9dCnmB.jpg', 'credit_id': '66f733408aae2a5e7d920d35', 'department': 'Sound', 'job': 'Original Music Composer'}, {'adult': False, 'gender': 2, 'id': 931976, 'known_for_department': 'Sound', 'name': 'Onnalee Blank', 'original_name': 'Onnalee Blank', 'popularity': 1.327, 'profile_path': None, 'credit_id': '671ec9b19ff681d9e0a48585', 'department': 'Sound', 'job': 'Supervising Sound Editor'}, {'adult': False, 'gender': 1, 'id': 56041, 'known_for_department': 'Writing', 'name': 'Irene Mecchi', 'original_name': 'Irene Mecchi', 'popularity': 3.08, 'profile_path': '/qvr0TCXL8XxC2ivChfq7DssuDGs.jpg', 'credit_id': '67574731d7b16434a89f7b62', 'department': 'Crew', 'job': 'Thanks'}, {'adult': False, 'gender': 2, 'id': 7933, 'known_for_department': 'Writing', 'name': 'Jonathan Roberts', 'original_name': 'Jonathan Roberts', 'popularity': 2.145, 'profile_path': None, 'credit_id': '6757473ea18cb8695afd98a6', 'department': 'Crew', 'job': 'Thanks'}, {'adult': False, 'gender': 1, 'id': 38792, 'known_for_department': 'Writing', 'name': 'Linda Woolverton', 'original_name': 'Linda Woolverton', 'popularity': 3.991, 'profile_path': '/AagHXmW37oiLSCsUYIifAaFfkz.jpg', 'credit_id': '6757474aa18cb8695afd98ad', 'department': 'Crew', 'job': 'Thanks'}, {'adult': False, 'gender': 2, 'id': 3247563, 'known_for_department': 'Acting', 'name': 'Lebo M.', 'original_name': 'Lebo M.', 'popularity': 0.088, 'profile_path': '/iqsXzHBbu2fsxgkk4VR0DGaiDAR.jpg', 'credit_id': '6757477a8b2cc2788b11ef70', 'department': 'Sound', 'job': 'Vocals'}, {'adult': False, 'gender': 1, 'id': 6410, 'known_for_department': 'Production', 'name': 'Francine Maisler', 'original_name': 'Francine Maisler', 'popularity': 4.636, 'profile_path': '/5pOiu0SLr3XCB3a8SDwQ70KHINq.jpg', 'credit_id': '6761e0695f8a89d232d34982', 'department': 'Production', 'job': 'Casting'}, {'adult': False, 'gender': 0, 'id': 1729089, 'known_for_department': 'Art', 'name': 'Jared Patrick Gerbig', 'original_name': 'Jared Patrick Gerbig', 'popularity': 0.838, 'profile_path': None, 'credit_id': '6761e1cb0bd51ce3ead3475e', 'department': 'Art', 'job': 'Art Direction'}, {'adult': False, 'gender': 2, 'id': 11508, 'known_for_department': 'Art', 'name': 'Dan Webster', 'original_name': 'Dan Webster', 'popularity': 3.548, 'profile_path': None, 'credit_id': '6761e347432d6c7cb3fb3fed', 'department': 'Art', 'job': 'Supervising Art Director'}, {'adult': False, 'gender': 2, 'id': 3687, 'known_for_department': 'Sound', 'name': 'Harry Cohen', 'original_name': 'Harry Cohen', 'popularity': 2.486, 'profile_path': '/pXDkgsdiMfmChkHpSvVIqYYAdFj.jpg', 'credit_id': '6761e4e87cb01f573d254ea1', 'department': 'Sound', 'job': 'Sound Designer'}, {'adult': False, 'gender': 2, 'id': 9419, 'known_for_department': 'Sound', 'name': 'Benjamin L. Cook', 'original_name': 'Benjamin L. Cook', 'popularity': 1.557, 'profile_path': None, 'credit_id': '6761e5e88dbe1f029f254fef', 'department': 'Sound', 'job': 'Sound Editor'}, {'adult': False, 'gender': 2, 'id': 1049272, 'known_for_department': 'Visual Effects', 'name': 'Adam Valdez', 'original_name': 'Adam Valdez', 'popularity': 0.4, 'profile_path': None, 'credit_id': '6761e6321166a27098d34706', 'department': 'Visual Effects', 'job': 'Visual Effects Supervisor'}, {'adult': False, 'gender': 0, 'id': 1715141, 'known_for_department': 'Visual Effects', 'name': 'Audrey Ferrara', 'original_name': 'Audrey Ferrara', 'popularity': 0.001, 'profile_path': None, 'credit_id': '6797c0ca9ca029099c2b1a74', 'department': 'Visual Effects', 'job': 'Visual Effects Supervisor'}]"

In [83]:
# Extracting director name of the movie
def director_name(obj):
    name = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            name.append(i['name'])
    return name

df['crew'] = df['crew'].apply(director_name)

In [84]:
df['keywords'].iloc[0]

"[{'id': 6054, 'name': 'friendship'}, {'id': 439, 'name': 'paradise'}, {'id': 2043, 'name': 'lion'}, {'id': 4344, 'name': 'musical'}, {'id': 9675, 'name': 'prequel'}, {'id': 10787, 'name': 'jungle'}, {'id': 171826, 'name': 'told in flashback'}, {'id': 171854, 'name': 'betrayal by friend'}, {'id': 177973, 'name': 'chance meeting'}, {'id': 245230, 'name': 'live action remake'}, {'id': 248927, 'name': 'found family'}, {'id': 262419, 'name': 'lost'}, {'id': 325778, 'name': 'bold'}, {'id': 325824, 'name': 'hopeful'}]"

In [85]:
# Extract main keywords of the movie
def keyword_name(obj):
    name = []
    for i in ast.literal_eval(obj):
        name.append(i['name'])
    return name
df['keywords'] = df['keywords'].apply(keyword_name)

In [86]:
df.head()

,id,title,overview,genre,cast,crew,keywords,image_url
0,762509,Mufasa: The Lion King,"Mufasa, a cub lost and alone, meets a sympathe...","[Adventure, Family, Animation]","[Aaron Pierre, Kelvin Harrison Jr., Tiffany Bo...",[Barry Jenkins],"[friendship, paradise, lion, musical, prequel,...",http://image.tmdb.org/t/p/w500/9bXHaLlsFYpJUut...
1,1241982,Moana 2,After receiving an unexpected call from her wa...,"[Animation, Adventure, Family, Comedy]","[Auliʻi Cravalho, Dwayne Johnson, Hualālai Chu...","[David G. Derrick Jr., Jason Hand, Dana Ledoux...","[sea, ocean, villain, musical, sequel, duringc...",http://image.tmdb.org/t/p/w500/aLVkiINlIeCkcZI...
2,939243,Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...","[Action, Science Fiction, Comedy, Family]","[Jim Carrey, Ben Schwartz, Keanu Reeves, Idris...",[Jeff Fowler],"[moon, sequel, based on video game, burlesque,...",http://image.tmdb.org/t/p/w500/d8Ryb8AunYAuycV...
3,927342,Amaran,A heroic true story of Major Mukund Varadaraja...,"[Action, Drama, Adventure, War]","[Sivakarthikeyan, Sai Pallavi, Rahul Bose, Bhu...",[Rajkumar Periasamy],"[based on novel or book, affectation, based on...",http://image.tmdb.org/t/p/w500/gnsLzt6RdI4QINt...
4,822119,Captain America: Brave New World,After meeting with newly elected U.S. Presiden...,"[Action, Thriller, Science Fiction]","[Anthony Mackie, Harrison Ford, Danny Ramirez,...",[Julius Onah],"[hero, superhero, revenge, aftercreditsstinger...",http://image.tmdb.org/t/p/w500/pzIddUEMWhWzfvL...

In [87]:
# Text preprocessing
punctuations = string.punctuation
stop_words = stopwords.words('english')
ps = PorterStemmer()

def text_preprocessing(text):
    text = text.lower()
    text = word_tokenize(text)
    new_text = []
    
    for word in text:
        if word not in stop_words and word not in punctuations:
            new_text.append(word)
            
    y = []
    for word in new_text:
        y.append(ps.stem(word))
    return " ".join(y)

In [88]:
df['overview'] = df['overview'].apply(text_preprocessing)

In [89]:
# remove spaces between names because we are going to vectorize the text 
# if we won't remove spaces then chris of chris hemsworth and chris of chris evans will be taken as same words
def remove_space(obj):
    name = []
    for i in obj:
        name.append(i.replace(" ",""))
    return " ".join(name)

In [90]:
df['genre'] = df['genre'].apply(remove_space)
df['cast'] = df['cast'].apply(remove_space)
df['crew'] = df['crew'].apply(remove_space)
df['keywords'] = df['keywords'].apply(remove_space)

In [91]:
# create a new column consisting of only words
df['tags'] = df['overview'] + df['genre'] + df['cast'] + df['crew'] + df['keywords']

In [92]:
df.head()

,id,title,overview,genre,cast,crew,keywords,image_url,tags
0,762509,Mufasa: The Lion King,mufasa cub lost alon meet sympathet lion name ...,Adventure Family Animation,AaronPierre KelvinHarrisonJr. TiffanyBoone Kag...,BarryJenkins,friendship paradise lion musical prequel jungl...,http://image.tmdb.org/t/p/w500/9bXHaLlsFYpJUut...,mufasa cub lost alon meet sympathet lion name ...
1,1241982,Moana 2,receiv unexpect call wayfind ancestor moana jo...,Animation Adventure Family Comedy,AuliʻiCravalho DwayneJohnson HualālaiChung Ros...,DavidG.DerrickJr. JasonHand DanaLedouxMiller,sea ocean villain musical sequel duringcredits...,http://image.tmdb.org/t/p/w500/aLVkiINlIeCkcZI...,receiv unexpect call wayfind ancestor moana jo...
2,939243,Sonic the Hedgehog 3,sonic knuckl tail reunit power new adversari s...,Action ScienceFiction Comedy Family,JimCarrey BenSchwartz KeanuReeves IdrisElba Co...,JeffFowler,moon sequel basedonvideogame burlesque dualrol...,http://image.tmdb.org/t/p/w500/d8Ryb8AunYAuycV...,sonic knuckl tail reunit power new adversari s...
3,927342,Amaran,heroic true stori major mukund varadarajan ind...,Action Drama Adventure War,Sivakarthikeyan SaiPallavi RahulBose BhuvanAro...,RajkumarPeriasamy,basedonnovelorbook affectation basedontruestor...,http://image.tmdb.org/t/p/w500/gnsLzt6RdI4QINt...,heroic true stori major mukund varadarajan ind...
4,822119,Captain America: Brave New World,meet newli elect u.s. presid thaddeu ross sam ...,Action Thriller ScienceFiction,AnthonyMackie HarrisonFord DannyRamirez ShiraH...,JuliusOnah,hero superhero revenge aftercreditsstinger mar...,http://image.tmdb.org/t/p/w500/pzIddUEMWhWzfvL...,meet newli elect u.s. presid thaddeu ross sam ...

In [93]:
df2 = df.copy()
df2 = df2[['id','title','tags','image_url']]

In [94]:
df2.head()

,id,title,tags,image_url
0,762509,Mufasa: The Lion King,mufasa cub lost alon meet sympathet lion name ...,http://image.tmdb.org/t/p/w500/9bXHaLlsFYpJUut...
1,1241982,Moana 2,receiv unexpect call wayfind ancestor moana jo...,http://image.tmdb.org/t/p/w500/aLVkiINlIeCkcZI...
2,939243,Sonic the Hedgehog 3,sonic knuckl tail reunit power new adversari s...,http://image.tmdb.org/t/p/w500/d8Ryb8AunYAuycV...
3,927342,Amaran,heroic true stori major mukund varadarajan ind...,http://image.tmdb.org/t/p/w500/gnsLzt6RdI4QINt...
4,822119,Captain America: Brave New World,meet newli elect u.s. presid thaddeu ross sam ...,http://image.tmdb.org/t/p/w500/pzIddUEMWhWzfvL...

In [95]:
# dropping duplicates changed the index hence reset it
df2.reset_index(inplace = True)

# Text Vectorization

In [96]:
cv = CountVectorizer(ngram_range = (1,3), max_features = 10000)
tfidf = TfidfVectorizer(ngram_range = (1,3), max_features = 10000)

tags_cv = cv.fit_transform(df2['tags']).toarray()
tags_tfidf = tfidf.fit_transform(df2['tags']).toarray()

In [97]:
tags_cv.shape, tags_tfidf.shape

((7780, 10000), (7780, 10000))

In [98]:
similarity_cv = cosine_similarity(tags_cv)
similarity_tfidf = cosine_similarity(tags_tfidf)

In [99]:
def recommend_cv(name):
    movie_index = df2[df2['title'] == name].index[0]
    recommend_movie = sorted(enumerate(similarity_cv[movie_index]),key = (lambda x: x[1]), reverse = True)[:6]
    for i in recommend_movie:
        print(df2['title'].iloc[i[0]])
        print(df2['image_url'].iloc[i[0]])
        
def recommend_tfidf(name):
    movie_index = df2[df2['title'] == name].index[0]
    recommend_movie = sorted(enumerate(similarity_cv[movie_index]),key = (lambda x: x[1]), reverse = True)[1:6]
    for i in recommend_movie:
        print(df2['title'].iloc[i[0]])
        print(df2['image_url'].iloc[i[0]])

In [100]:
recommend_cv('Harry Potter and the Philosopher\'s Stone')

Harry Potter and the Philosopher's Stone
http://image.tmdb.org/t/p/w500/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
Harry Potter and the Prisoner of Azkaban
http://image.tmdb.org/t/p/w500/aWxwnYoe8p2d2fcxOqtvAtJ72Rw.jpg
Harry Potter and the Goblet of Fire
http://image.tmdb.org/t/p/w500/fECBtHlr0RB3foNHDiCBXeg9Bv9.jpg
Harry Potter and the Deathly Hallows: Part 2
http://image.tmdb.org/t/p/w500/c54HpQmuwXjHq2C9wmoACjxoom3.jpg
Harry Potter and the Half-Blood Prince
http://image.tmdb.org/t/p/w500/z7uo9zmQdQwU5ZJHFpv2Upl30i1.jpg
Harry Potter and the Chamber of Secrets
http://image.tmdb.org/t/p/w500/sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg

In [101]:
recommend_tfidf('Harry Potter and the Philosopher\'s Stone')

Harry Potter and the Prisoner of Azkaban
http://image.tmdb.org/t/p/w500/aWxwnYoe8p2d2fcxOqtvAtJ72Rw.jpg
Harry Potter and the Goblet of Fire
http://image.tmdb.org/t/p/w500/fECBtHlr0RB3foNHDiCBXeg9Bv9.jpg
Harry Potter and the Deathly Hallows: Part 2
http://image.tmdb.org/t/p/w500/c54HpQmuwXjHq2C9wmoACjxoom3.jpg
Harry Potter and the Half-Blood Prince
http://image.tmdb.org/t/p/w500/z7uo9zmQdQwU5ZJHFpv2Upl30i1.jpg
Harry Potter and the Chamber of Secrets
http://image.tmdb.org/t/p/w500/sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg

In [102]:
recommend_cv('Avengers: Endgame')

Avengers: Endgame
http://image.tmdb.org/t/p/w500/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg
Avengers: Secret Wars
http://image.tmdb.org/t/p/w500/f0YBuh4hyiAheXhh4JnJWoKi9g5.jpg
Avengers: Doomsday
http://image.tmdb.org/t/p/w500/eO6OdA4RDRWeCVlDMcsoxWYFySD.jpg
Avengers: Age of Ultron
http://image.tmdb.org/t/p/w500/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg
The Avengers
http://image.tmdb.org/t/p/w500/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg
Avengers: Infinity War
http://image.tmdb.org/t/p/w500/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg

In [103]:
df2.drop(columns = 'index', inplace = True)

# both CountVectorizer and TfidfVectorizer gave same result so we only export cv
pickle.dump(similarity_cv,open('similarity.pkl','wb'))

# export df2
pickle.dump(df2,open('Movies Dataset.pkl','wb'))

# The exported Movies Dataset and similarity will be used by streamlit